# IDE
.idea/
.vscode/
*.iml

node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
.venv/
venv/
.Python

# Jupyter
.ipynb_checkpoints/

# OS
Thumbs.db
